@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0 0;
  --background: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255 255 255;
    --background: 0 0 0;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-noto-sans-kr), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
